
footer{
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    margin-top: 605px;
    border-top: 1px solid #e7e7e7;
    
}
p{
    margin: 0;
    color: #555;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: underline;
    color: #000;
}


