/* Crear estilo para el archivo home.html */
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 20px;
}
button {
    padding: 15px 25px;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button a {
    color: white;
    text-decoration: none;
}
button:hover {
    background-color: #007B9E;
}
